@import "tailwindcss";
button{
  cursor: pointer
}

svg{
  display: inline;
}

.ProseMirror p.is-editor-empty:first-child::before {

  color: #aaa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}


.ProseMirror {
  padding: 5px;
  min-height: 250px;
  overflow-y: auto;
}

.ProseMirror:focus {
  outline: none;
  border-color: #999;
}

.status-dot{
  border-radius: 50%;
  width: 1em; /* Set equal width and height */
  height: 1em;

}

.status-dot.online { background: #4caf50; }
.status-dot.offline { background: #f44336; }
.status-dot.error { background: #ff9800; }
.status-dot.connecting { background: #2196f3; }

.draggable {
  transition: transform 0.25s ease, box-shadow 0.2s ease !important;
}


.chip {
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
  color: #fff;
}